@mixin border-radius($r) {
    -moz-border-radius:$r;
    -webkit-border-radius:$r;
    border-radius:$r;
}

@mixin background-size($size) {
    -moz-background-size: $size;
    -o-background-size: $size;
    -webkit-background-size: $size;
    background-size: $size;
}

@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono);

.content-box {
    background-color: rgba(0,0,0,0.6);
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0 0 3rem 0;
    overflow: auto;
    padding: 3rem;
}

.slide:not(.loaded) {
    display:none;
}

#title{

    display:block;

    &:not(.loaded) {
        h1 {
            text-shadow: 0 0 10px #f00;
        }
    }

}

.social-list {

    font-size: 5rem;
    list-style-type:none;

    li  {
        margin: 0;
    }

    a {
        background-repeat: no-repeat;
        background-size: 100px;
        display: block;
        height: 100px;
        line-height: 100px;
        padding-left: 120px;
    }
}

.twitter {
    background-image: url('../img/twitter.png');
}

.googleplus {
    background-image: url('../img/googleplus.png');
}

.facebook {
    background-image: url('../img/facebook.png');
}

.www {
    background-image: url('../img/www.png');
}

.event-img, .book-cover{
    float: left;
    margin: 0;
    width: 20%;
}

.event-location {
    background-color: rgba(0,0,0,0.5);
    @include border-radius(5px);
    float:right;
    font-size: 3rem;
    margin: 0;
    max-width: 300px;
    padding: 20px;
    text-align:center;
    width: 20%;
}

.event-map {
    @include border-radius(5px);
    margin: 3rem 0 0 0;
}

.event-description {

    margin: 0 20%;
    padding: 0 3rem;

    .event-time {
        font-size: 5rem;
        font-weight: 300;
        margin: 5rem;
        text-align:center;
    }

}

.past-event {

    .event-description {
        margin: 0 0 0 10%;
    }

    .event-img {
        width: 10%;
    }

    h3 {
        font-size: 6.5rem;
        margin: 0;
    }

    h4 {
        font-size: 4.5rem;
    }

}

.book-description {

    margin: 0 0 0 20%;
    padding: 0 3rem;

    ul {
        -webkit-column-count:2;
        column-count:2;
    }

}

#apod {
    @include background-size(cover);
}

.longquote {
    font-size: 4rem;
}

.quote {
    
    &.sagan {
        
        background: url(../img/sagan.jpg) bottom right no-repeat, #000;
     
        blockquote {
            margin: 3rem 400px 3rem 3rem;
        }
    
    }

    &.randi {

        background: url(../img/randi.jpg) bottom right no-repeat, #000;
        @include background-size(contain);

        blockquote {
            left: 0;
            margin: 3rem;
            position: absolute;
            right: 0;
            top: 50%;
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
        }

    }

    &.asimov {
    
        background: url(../img/asimov.jpg) bottom right no-repeat, #000;
    
        blockquote {
            margin: 3rem 400px 3rem 3rem;
        }

    }

    &.einstein {
        
        background: url(../img/einstein.jpg) bottom left no-repeat, #000;
        @include background-size(contain);

        blockquote {
            margin: 3rem 3rem 3rem 600px;
        }

    }

}

.sof {

    a {

        font-family: 'Ubuntu Mono', sans-serif;
        display:block;
        text-align: center;
        text-decoration:underline;
        margin: 3rem;

        img {

            height: 50rem;
            width: 50rem;
        }

    }
}
