.sof-answer-box {
  height: 80px;
  margin: 1em auto;
  perspective: 1000;
  position: relative;
  width: 400px; }
  .sof-answer-box > div {
    position: relative;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-origin: 100% 40px;
    /* half of height */
    -webkit-transform-origin: 100% 40px;
    /* half of height */
    transition: 0.6s;
    -webkit-transition: 0.6s; }
  .sof-answer-box:hover > div, .sof-answer-box.hover > div {
    transform: rotateX(-180deg);
    -webkit-transform: rotateX(-180deg); }
  .sof-answer-box .sof-answer-reveal, .sof-answer-box .sof-answer {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    height: 80px;
    left: 0;
    position: absolute;
    top: 0;
    width: 400px; }
  .sof-answer-box .sof-answer-reveal {
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid #fff;
    line-height: 80px;
    text-align: center;
    z-index: 2; }
  .sof-answer-box .sof-answer {
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid #fff;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg); }
    .sof-answer-box .sof-answer:before {
      content: '...'; }
    .sof-answer-box .sof-answer:after {
      content: '!'; }
    .sof-answer-box .sof-answer.science {
      background: rgba(0, 204, 0, 0.2);
      border: 1px solid #0c0; }
    .sof-answer-box .sof-answer.fiction {
      background: rgba(204, 0, 0, 0.2);
      border: 1px solid #c00; }
